<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alio.ulio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icn_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alioulio"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.ui.main.alarmsend.AlarmAlwaysActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.profilemanage.personalinfo.PersonalInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.profilemanage.NotifyActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.profilemanage.AlarmOptionActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.alarmsend.WhoSendActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.alarmsend.VoiceRecoredActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.alarmsend.AlarmConditionActivity"
            android:exported="true" />

        <activity android:name=".view.ui.sign.service.PersonalActivity"
            android:exported="true"/>

        <activity android:name=".view.ui.sign.service.ServiceActivity"
            android:exported="true"/>
        <activity
            android:name=".view.ui.sign.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.sign.FirstSignAgreeActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.sign.SignActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="97b4bfe24482572fdafb0039db83b2cb" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>